<div class="noticeme">
<h1>Add Book</h1>

<p> Please note that newly added books will not appear in the index until approved by an admin.</p>
</div>
<%= render 'form' %>

<%= link_to 'Back', books_path, class: "bak_button" %>
