body {
  color: white;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-size: 14px;
  font-family: $verdana;
  @include background-image(url("library6.jpg"));
}

header.navigation {
  color: white;
  padding: 15px 100px;
  font-size: 30px;
  font-weight: bold;
  @include linear-gradient(#777, #444);
  @include box-shadow(0 0 6px 3px #000);

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative
  }

  .account-stuff {
    float: right;
    font-size: 12px;
  }
}

#container {
  margin: 0 100px;
}

a {
  text-decoration: none;
  color: white;
}

.bak_button {
  @include button(simple, #FFC125	);
  text-decoration: none;
  font-size: 10px;
}

.sho_button {
  @include button(simple, #3FB344	);
  text-decoration: none;
  font-size: 10px;
}

.nuke_button {
  @include button(simple, #FF0000	);
  text-decoration: none;
  font-size: 10px;
}

.noticeme {
  background-color: rgba(99,209,244,0.6);
  border: solid 2px #AAA;
  margin: 20px 0;
  padding: 7px 12px;
  color: white;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  @include transition(all, 500ms, ease-in-out);
}
